POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""

PORT=3000

DB_HOST=localhost
DB_PORT=5432


CLOUDFLARE_ACCESS_KEY_ID=""
CLOUDFLARE_SECRET_ACCESS_KEY=""
CLOUDFLARE_BUCKET=""
CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_PUBLIC_URL=""

S3_REGION='auto'
S3_ENDPOINT="http://localhost:3000"
